<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="wdzh" lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>我的帐户</title>
    <link href="../styles/public.css" rel="stylesheet"/>
    <link href="index.css" rel="stylesheet"/>

    <script src="../scripts/angular-1.2.9/angular.min.js"></script>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/public.js"></script>
    <!--<script src="../scripts/datepicker/picker.js"></script>-->
    <!--<script src="../scripts/datepicker/picker.date.js"></script>-->
    <!--<script src="../scripts/datepicker/legacy.js"></script>-->
    <!--<script src="../scripts/datepicker/zh_CN.js"></script>-->
    <!--<link href="../scripts/datepicker/themes/default.css" rel="stylesheet" />-->
    <!--<link href="../scripts/datepicker/themes/default.date.css" rel="stylesheet" />-->
    <script src="index.js"></script>

</head>
<body ng-controller="wdzhCtrl">
<div class="back">
    <div class="back_img" data-ng-click="back()">
        <img src="../images/back03.png"/>
    </div>
    <div class="back_text" data-ng-click="back()">返回</div>
</div>
<div class="body">
    <div class="list">
        <div class="list_top eat">
            <div class="L ">
                <img src="../images/eit.png" class="imgL" />
            </div>
            <div class=" L list_text pL7" >就餐帐户</div>
            <div class="R pL7">
                <img src="../images/down02.png" class="imgR" />
            </div>
            <div class="R list_text">
                ￥731.06
            </div>
        </div>
    </div>
    <div class="list">
        <div class="list_top wash">
            <div class="L ">
                <img src="../images/wash.png" class="imgL" />
            </div>
            <div class=" L list_text pL7" >洗衣帐户</div>
            <div class="R pL7">
                <img src="../images/down02.png" class="imgR" />
            </div>
            <div class="R list_text">
                ￥731.06
            </div>
        </div>
    </div>
</div>
</body>
</html>
