<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ktyy">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>康体预约</title>
    <link href="../styles/public.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />
    <script src="../scripts/angular-1.2.9/angular.min.js"></script>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/public.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="ktyyCtrl">
    <div class="back">
        <div class="back_img" data-ng-click="back()">
            <img src="../images/back02.png" />
        </div>
        <div class="back_text" data-ng-click="back()">康体预约</div>
    </div>
    <div class="content">
        <div class="items">
            <div class="item" data-ng-repeat="place in places">
                <div class="item_title">
                    <div class="item_title_left"><span>&nbsp;</span>{{place.SiteName}}</div>
                    <div class="item_title_right"><span data-ng-bind="'地址：'+place.SiteAddress"></span></div>
                </div>
                <div class="item_img">
                    <img class="site_img" ng-src="{{place.SitePicture}}" />
                    <div class="item_text" sid="1">
                        <div class="item_text_left" data-ng-click="showRule(place.SiteName,place.SiteDescription)">
                            <div class="div_w20_fl">场地介绍</div>
                        </div>
                        <div class="item_text_right" data-ng-click="select(place.SiteID)">
                            <div class="item_text_right_img">
                                <img src="../images/go.png" />
                            </div>
                            <div class="item_text_right_value" >预订</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item hide">
                <div class="item_title">
                    <div class="item_title_left"><span>&nbsp;</span>网球场</div>
                    <div class="item_title_right">北裙楼6楼</div>
                </div>
                <div class="item_img">
                    <img class="site_img" src="../images/site1.png" />
                    <div class="item_text" sid="1">
                        <div class="item_text_left">
                            <div class="div_w20_fl">&nbsp;</div>
                            场地介绍
                        </div>
                        <div class="item_text_right">
                            <div class="item_text_right_img">
                                <img src="../images/go.png" />
                            </div>
                            <div class="item_text_right_value">预订</div>
                            &nbsp;&nbsp;
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="item hide">
                <div class="item_title">
                    <div class="item_title_left"><span>&nbsp;</span>多功能体育馆</div>
                    <div class="item_title_right">北裙楼4楼</div>
                </div>
                <div class="item_img">
                    <img class="site_img" src="../images/site2.png" />
                    <div class="item_text" sid="2">
                        <div class="item_text_left">
                            <div class="div_w20_fl">&nbsp;</div>
                            场地介绍
                        </div>
                        <div class="item_text_right">
                            <div class="item_text_right_img">
                                <img src="../images/go.png" />
                            </div>
                            <div class="item_text_right_value">预订</div>
                            &nbsp;&nbsp;
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 50px; line-height: 50px;">
            &nbsp;
        </div>
    </div>

    <div class="bottom_btn" data-ng-click="toOrder()">
        <div class="order_link">
            <div class="img_order" >
                <img src="../images/order01.png" />
            </div>
            <div class="btn_order" >我的订单</div>
        </div>
    </div>
</body>
</html>
