<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="wqct" lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>屋企餐厅</title>
    <link href="../styles/public.css" rel="stylesheet"/>
    <script src="../scripts/angular-1.2.9/angular.min.js"></script>
    <script src="../scripts/angular-1.2.9/angular-touch.min.js"></script>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/public.js"></script>
    <script src="../scripts/shoppingcar.js"></script>
    <script src="index.js"></script>
    <link href="car1.css" rel="stylesheet"/>
</head>
<body ng-controller="wqctCCtrl" style="display: none;">
<div class="back" data-ng-click="back()">
    <div class="back_img">
        <img src="../images/back03.png"/></div>
    <div class="back_text">返回</div>
</div>

<div class="car_list">

</div>

<div class="bottom_btn">

    <div class="btn_clear" data-ng-click="showDelAll(true)">
        <div class="btn_clear_img">
            <img src="../images/delete.png"/></div>
        <div class="btn_clear_text">清空</div>
    </div>
    <div class="car_info">
        <div class="car_info1">共计:<span class="car_info1_money">0.00</span><span class="car_info1_unit">元</span></div>
        <div class="car_info2">已选:0</div>
    </div>
    <div class="btn_go" id="btn_go" >去结算</div>
</div>

<div id="cart_null" style="display:none; position:absolute; z-index:2; text-align:center; width:100%;">
    <div>
        <img src="../images/cart_null.png"/></div>
    <div style="font-size:12px; color:#666666; text-align:center;">
        空空如也~<br/>
        快去购物吧！
    </div>
</div>
<div style="position: fixed;height: 100%;width: 100%;background: #000;opacity: 0.6;top: 0;left: 0;z-index: 55"
     data-ng-click="showDelAll(false)" data-ng-if="delAll==true">
</div>
<div style="position: fixed;height: 100%;width: 100%;background: #000;opacity: 0.6;top: 0;left: 0;z-index: 55"
     data-ng-click="showDelOne(false)" data-ng-if="delOne==true">
</div>
<div class="bottom_btn" style="height: auto;z-index: 56" data-ng-if="delAll==true">
    <div class="delAll" style="color: #494949;font-size: 14px;">
        确定要清空购物车吗？
    </div>
    <div class="delAll" style="color: #ff0000;font-size: 16px;margin-top: 1px;" data-ng-click="delAllData()">
        确定
    </div>
    <div class="delAll" style="color: #008aff;font-size: 16px;margin-top: 3px;" data-ng-click="showDelAll(false)">
        取消
    </div>
</div>
<div class="bottom_btn" style="height: auto;z-index: 56" data-ng-if="delOne==true">
    <div class="delAll" style="color: #494949;font-size: 14px;">
        是否移出购物车？
    </div>
    <div class="delAll" style="color: #ff0000;font-size: 16px;margin-top: 1px;" data-ng-click="delOneData()">
        确定
    </div>
    <div class="delAll" style="color: #008aff;font-size: 16px;margin-top: 3px;" data-ng-click="showDelOne()">
        取消
    </div>
</div>
</body>
</html>
