<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="tlbb">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>天龙八部</title>
    <link href="../styles/public.css" rel="stylesheet"/>
    <link href="index.css" rel="stylesheet"/>
    <script src="../scripts/angular-1.2.9/angular.min.js"></script>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/public.js"></script>
    <script src="index.js"></script>

</head>
<body ng-controller="tlbbCtrl">
<div class="back">
    <div class="back_img" data-ng-click="back()">
        <img src="../images/back02.png"/>
    </div>
    <div class="back_text" data-ng-click="back()">天龙八部</div>
    <div class="note">预约须知</div>
    <div class="note_img">
        <img src="../images/note.png"/>
    </div>
</div>

<div class="content">
    <div class="show_pic">
        <div class="show_pic_img big_pic" >
            <!--<img data-ng-src="{{places[0].SitePicture}}" ng-style="leftPic"/>-->
            <img src="../images/tlbb.png" ng-style="leftPic"/>
        </div>
        <div class="show_pic_r" ng-style="rightPic" id="show_pic_r">
            <div class="goods_r" data-ng-if="serviceLists.length>1" data-ng-click="goDetail(serviceLists[0])" data-ng-style="rightPic_item_h">
                <div class="goods_img">
                    <img  data-ng-src="{{serviceLists[0].SppPicture }}"  />
                </div>
                <div class="goods_inf" >
                    <div class="L item_text" data-ng-bind="serviceLists[0].SppName">
                    </div>
                    <div class="R item_img">
                        <img src="../images/go.png">
                    </div>
                </div>
            </div>
            <div style="height: 6px;width: 100%"></div>
            <div class="goods_r" data-ng-if="serviceLists.length>2" data-ng-click="goDetail(serviceLists[1])" data-ng-style="rightPic_item_h">
                <div class="goods_img">
                    <img  data-ng-src="{{serviceLists[1].SppPicture }}"/>
                </div>
                <div class="goods_inf" >
                    <div class="L item_text" data-ng-bind="serviceLists[1].SppName">
                    </div>
                    <div class="R item_img">
                        <img src="../images/go.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="item" ng-style="item" data-ng-repeat="goods in serviceLists" data-ng-class="{'item_margin_r': ($index+1-2)%2}"
             data-ng-if="$index>1" data-ng-click="goDetail(goods)">
            <div class="goods_img">
                <img  data-ng-src="{{goods.SppPicture }}"/>
            </div>
            <div class="goods_inf" >
                <div class="L item_text" data-ng-bind="goods.SppName">
                </div>
                <div class="R item_img">
                    <img src="../images/go.png">
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<div style="width: 100%;height: 60px;"></div>
<div class="bottom_btn">
    <div class="order_link" data-ng-click="toOrder()">
        <div class="img_order" >
            <img src="../images/order01.png"/>
        </div>
        <div class="btn_order" >我的订单</div>
    </div>
</div>

<div style="display: none;">
    <div id="note">
        <div style="line-height: 26px;">
            <div style="font-size: 15px; font-weight: bold; color: #ff6633;">预约规则：</div>
            <div>预约成功后，需按预约时间准时到店，<span style="color: #ff6633;">逾期10分钟后</span>将取消当次服务</div>
            <div style="font-size: 15px; font-weight: bold; color: #ff6633;">医师级别收费：</div>
            <div>治疗需加收20元服务费，请根据需求选择。（套餐二、特色一、特色三除外）</div>
        </div>
    </div>
    <div id="rule">
        <div style="line-height: 24px;">
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【春季养生套餐1】精油局部推拿+隔姜灸
            </div>
            <div>
                肩颈腰椎疼痛等关节疾病、感冒等呼吸道疾病，五天一个疗程
                （原价：90元/45分钟，员工价：60元/45分钟）
            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【春季养生套餐2】精油腹部按摩+隔盐灸
            </div>
            <div>
                腹痛、腹泻等胃肠道疾病，五天一个疗程
                （原价：90元/40分钟，员工价：60元/40分钟）

            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【套餐1】保健按摩
            </div>
            <div>
                日常放松型的调理，循经按柔、舒经活络、行气活血，缓解肌肉紧张，消除疲劳。
                （原价：100元/45分钟，员工价：50元/45分钟）

            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【套餐2】局部治疗推拿
            </div>
            <div>
                缓解肌肉紧张，纠正小关节紊乱、治疗疼痛。
                （手法按摩+电脑中频脉冲/拔火罐或热敷）
                （原价：120元/45分钟，员工价：60元/45分钟）

            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【套餐3】女士特享专享
            </div>
            <div>
                经期综合症、体质虚寒人群，提高机体免疫力以达素体康健之目的（手法按摩+10ml精油+刮痧或手法按摩+10ml精油+艾灸全程80分钟及一次性浴袍）
                （原价：280元/65分钟，员工价：110元/65分钟）。

            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【套餐4】局部精油按摩
            </div>
            <div>
                舒缓压力，促进全身血液循环，消除疲劳等。
                （手法按摩、10ml精油、热敷或火罐）
                （原价：150元/45分钟，员工价：70元/45分钟）

            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【特色疗法1】
            </div>
            <div>
                感冒调理
                感受风寒、周身骨痛，免疫力下降，容易疲劳的办公室人群和亚健康态（按摩+刮痧或走罐+热敷）
                （原价：180元/70分钟，员工价：80元/70分钟）

            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【特色疗法2】
            </div>
            <div>
                舒缓压力调理
                净化心灵、安抚忧虑情绪；舒缓压力、有助优质睡眠。
                （原价：150元/45分钟，员工价：60元/45分钟）

            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【特色疗法3】
            </div>
            <div>
                明火灸
                各种陈旧性损伤、风湿骨痛、常见的周围神经炎、鼻炎、女性痛经、盆腔积液、体虚感冒等效果显著。
                （蒜蓉、生姜+消肿止痛活血开窍的中药燃灸）
                （原价：150元/50分钟，员工价：80元/50分钟）
            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【特色疗法4】
            </div>
            <div>
                艾灸疗法
                日常保健/虚寒/气血不和等。
                （原价：160元/60分钟，员工价：60元/60分钟）

            </div>
            <div style="font-size: 12px; font-weight: bold; color: #ff6633;">
                【特色疗法5】
            </div>
            <div>
                砭石刮痧疗法
                恢复和提高经络的整体调控功能、活血化瘀、改善微循环、排毒解毒、促进新陈代谢增强机体免疫功能（砭石刮痧+火罐）。
                （原价：120元/30分钟，员工价：50元/30分钟）
            </div>
        </div>
    </div>
</div>
</body>
</html>
