<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="xxyj" lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>洗新艳旧</title>
    <link href="../styles/public.css" rel="stylesheet"/>
    <link href="index.css" rel="stylesheet"/>
    <script src="../scripts/angular-1.2.9/angular.min.js"></script>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/public.js"></script>
    <script src="../scripts/datepicker/picker.js"></script>
    <script src="../scripts/datepicker/picker.date.js"></script>
    <script src="../scripts/datepicker/legacy.js"></script>
    <script src="../scripts/datepicker/zh_CN.js"></script>
    <link href="../scripts/datepicker/themes/default.css" rel="stylesheet"/>
    <link href="../scripts/datepicker/themes/default.date.css" rel="stylesheet"/>
    <script src="index.js"></script>
</head>
<body ng-controller="xxyjCtrl">
<div class="back">
    <div class="back_img" data-ng-click="back()">
        <img src="../images/back02.png"/>
    </div>
    <div class="back_text" data-ng-click="back()">洗新艳旧</div>
</div>

<div class="types">
    <div data-ng-repeat="listWts in listWts" style="position: relative;">
        <div class="type " data-ng-class="{type_now: listWtCur==$index}" data-ng-click="changeList(listWts,$index)">
            <div class="type_text" data-ng-bind="listWts.WtName"></div>
            <div class="type_line">
                <div></div>
            </div>
        </div>
    </div>

    <!--<div class="type">-->
    <!--<div class="type_text">123</div>-->
    <!--</div>-->
    <div style="clear: both;"></div>
</div>
<div class="content">
    <div class="date">
        <table style="margin: auto;">
            <tr>
                <td>
                    <div class="date_img"><img src="../images/date.png"/></div>
                </td>
                <td>
                    <div class="date_text"><input type="text" id="date"/></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="line">
        <div class="dot1"></div>
        <div class="line0"></div>
        <div class="dot2"></div>
    </div>
    <div class="show_pic">
        <div class="show_pic_img" data-ng-click="show_rule()">
            <img data-ng-src="../images/wash_{{listPic}}.png" ng-style="leftPic"/>
        </div>
        <div class="show_pic_r" ng-style="rightPic" id="show_pic_r">
            <div class="goods_r" data-ng-if="listGoods.WashList.length>1" data-ng-click="goDetail(listGoods.WashList[0])">
                <div class="goods_img">
                    <img  data-ng-src="{{listGoods.WashList[0].WashPicture}}"  />
                </div>
                <div class="goods_inf" data-ng-click="goDetail(listGoods.WashList[0])">
                    <div class="L item_text" data-ng-bind="listGoods.WashList[0].WashName">
                    </div>
                    <div class="R item_img">
                        <img src="../images/go.png">
                    </div>
                </div>
            </div>
            <div class="goods_r" data-ng-if="listGoods.WashList.length>2" data-ng-click="goDetail(listGoods.WashList[1])">
                <div class="goods_img">
                    <img  data-ng-src="{{listGoods.WashList[1].WashPicture}}"/>
                </div>
                <div class="goods_inf" data-ng-click="goDetail(listGoods.WashList[1])">
                    <div class="L item_text" data-ng-bind="listGoods.WashList[1].WashName">
                    </div>
                    <div class="R item_img">
                        <img src="../images/go.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="item" ng-style="item" data-ng-repeat="goods in listGoods.WashList" data-ng-class="{'item_margin_r': ($index+1-2)%3}"
             data-ng-if="$index>1" data-ng-click="goDetail(goods)">
            <div class="goods_img">
                <img  data-ng-src="{{goods.WashPicture}}"/>
            </div>
            <div class="goods_inf" data-ng-click="goDetail(goods)">
                <div class="L item_text" data-ng-bind="goods.WashName">
                </div>
                <div class="R item_img">
                    <img src="../images/go.png">
                </div>
            </div>
        </div>
        <!--<div class="item" ng-style="item">-->
            <!--<div>-->
                <!--<img data-ng-src="{{listGoods.WashList[1].WashPicture}}"/>-->
            <!--</div>-->
            <!--<div class="goods_inf">-->
                <!--<div class="L item_text" data-ng-bind="listGoods.WashList[0].WashName">-->
                <!--</div>-->
                <!--<div class="R item_img">-->
                    <!--<img src="../images/go.png">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="bottom_btn">
        <div class="order_link">
            <div class="img_order">
                <img src="../images/order01.png" />
            </div>
            <div class="btn_order">我的订单</div>
        </div>
        <div class="car_link">
            <div class="btn_car">购物车</div>
            <div class="img_car">
                <div class="car_count">0</div>
                <img class="img_car_img" src="../images/car01.png" />
            </div>
        </div>
    </div>

</div>

</body>
</html>
