.back
{
    height:39px;
    border-bottom:1px solid #ff6633;
    background-color: #ffffff;
}
.back_img
{
    float:left;
    padding-left:15px;
    font-weight:900;
    margin-top:10px;
    color: #ff6633;
    padding-right:10px;
}
.back_text
{
    float:left;
    font-size:15px;
    font-weight:bold;
    margin-top:11px;
    color: #ff6633;
}
.user_info
{
    background-image:url('../images/user_info_bg.png');
    height:60px;
    background-repeat:repeat-x;
    color:#ffffff;
    margin:10px 0px;
}
.user_name
{
    width:25%;
    float:left;
    text-align:center;

}
.user_sp
{
	width:15%;
	height:60px;
	float:left;
}
.user_phone
{
    width:60%;
    float:left;
    text-align:center;
	padding:19px 0px;
}
.user_img
{
    float:right;
	padding:20px 0px 19px 0px;
}
.user_text
{
    float:right;
    font-size:15px;
    padding: 22px 0px 21px 10px;
}

.phone_img
{
    float:left;
}
.phone_text
{
    float:left;
    font-size:15px;
    padding-left:10px;
}
.car
{
    width:100%;
	background-color:#ffffff;
}
.car_title
{
    width:100%;
	height:23px;
	background-color:#ffffff;
	margin-bottom:1px;
	height:30px;

}
.car_title1
{
	float:left;
	font-size:12px;
	color:#222222;
	width:23%;
	padding:8px 0 0 20px;
}
.car_title2
{
	float:right;
	text-align:center;
	font-size:12px;
	color:#222222;
	width:21%;
	padding:8px 0px;
}
.car_list
{
	width:100%;
	background-color:#ffffff;
	  margin-bottom: 1px;
}
.car_item1
{
	background-color:#ffffff;
    width:79%;
	float:left;
}
.item_img
{
    float:left;
	padding-left: 20px;
	padding-top:10px;
}
.item_content
{
    float:left;
	padding-left: 10px;
	padding-top:10px;
}
.item_c_name
{
	font-size:13px;
}
.item_c_from
{
	
	padding:5px 0px;
	font-size:11px;
}
.item_c_price
{
	font-size:16px;
	color:#ff6633;
}
.car_item2
{
    width:21%;
	float:left;
	background-color:#ffffff;
	font-size:11px;
	vertical-align:middle;
	text-align:center;
	height:100%;
    line-height:80px;
}
.car_sum
{
	height:30px;
	width:100%;
	background-color:#ffffff;
	margin:10px 0px;
}
.car_sum_text
{
    width:70%;
    float:left;
	padding: 6px 0px;
	font-size:11px;
}
.car_sum_text span
{
	padding-left:20px;
}
.car_sum_money
{
    width:28%;
    float:left;
	padding: 6px 0px;
	color:#ff6633;
	font-size:11px;
	
}
.car_gettime
{
    width:100%;
	background-color:#ffffff;
	height:30px;
    float:left;
}
.car_gettime_text
{
    width:70%;
	font-size:11px;
	padding-top: 6px;
    float:left;
}
.car_gettime_text span
{
	padding-left:20px;
}
.car_gettime_value
{
    width:30%;
	font-size:20px;
    float:right;
}
.bottom_btn
{
    position:fixed;
    bottom:0;
    left:0;
    height:50px;
    width:100%;
}
.sum_money
{
    width:60%;
    text-align:center;
    float:left;
	background-color:#ffffff;
	font-size:14px;
	padding:12px 0px;
}
.sum_price
{
	font-size:22px;
	
}
.sum_unit
{
	font-size:10px;
}
.btn_post
{
    width:40%;
    text-align:center;
    float:left;
	background-color:#ff6633;
	font-size:16px;
	color:#ffffff;
	padding:16px 0px 15px 0px;
}