body{
    background-color: #ffffff;
}
.body{
    z-index: 10;
    padding-top: 40px;
}
.back {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ff6633;
    background-color: #ffffff;
    position: fixed;
    top:0;
    left: 0;
    z-index: 20;
}

.back_img {
    float: left;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    color: #ff6633;
    padding: 10px 0 10px 16px;
}

.back_text {
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #ff6633;
    line-height: 20px;
    padding: 10px 0 10px 7px;
}

.note{
    float: right;
    padding: 10px 20px 10px 0;
}
.note input{
    float: right;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #ff6633;
    width: 86px;
}

.note_img {
    float: right;
    padding: 10px 6px 10px 0;
}

.banner {
    position: relative;
    border-left: 1px solid #ff6633;
    border-top: 1px solid #ff6633;
    border-bottom: 1px solid #ff6633;
    margin: 15px 20px ;
}

.banner_w {
    width: 33%;
    border-right: 1px solid #ff6633;
    float: left;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    color: #ff6633;
    padding: 8px 0 8px 0;
    text-align: center;
}

.cur {
    background-color: #ff6633;
    color: #ffffff;
}

.list {
    position: relative;
    border-top: 1px solid #ff6633;
    border-left: 1px solid #ff6633;
    border-right: 1px solid #ff6633;
    margin: 15px 20px ;
    background-color: #fff0e0;
}

.list_head {
    position: relative;
    height: 25px;
}

.list_head img {
    width: 100%;
    height: 25px;
}

.list_head span {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 ;
}
.list_body {
    border-bottom: 1px solid #ff6633;
    padding: 15px 15px;
}
.list_type{
    font-size: 13px;
    font-weight: bold;
    color: #ff6633;
}
.list_title{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}
.no_data{
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ff6633;
    line-height: 50px;
}
